/*https://lospec.com/palette-list/sweetie-16*/

@font-face {
font-family: 'Ticket';
font-style: normal;
font-weight: 400;
src: local('Ticket'), url('assets/IckyTicketMono.ttf') format('truetype');
}

.position {
	width: 129px;
	height: 140px;
	border: 3px solid #566c86;
	padding: 0px;
	color: black;
}

table {
	border-spacing: 0px;
}

body {
	margin: 0px;
	background-color: #94b0c2;
}

footer {
	background-color: #566c86;
	height: 42px;
	-webkit-app-region: drag;
}

th {
	margin: 0;
}

.divNum {
	height: 15%;
	width: 70%;
	margin: 0 auto;
	padding: 0;
}

.divRPM {
	margin-top: 20%;
}

.pSoll {
	font-size: 16px;
	color: #566c86;
	font-family: 'Ticket';
	position: relative;
	margin: 0;
}

.pIst {
	font-size: 25px;
	margin: 0;
	color: #333c57;
	font-family: 'Ticket';
	line-height: 0.7;
}

.pNum {
	margin: 0;
	color: #f4f4f4;
	font-family: 'Ticket';
}

#m0 {
	border: 3px solid #f4f4f4;
}


#foot {
	width: 100%;
	height: 100%;
}

#avg {
	margin: 5px;
	color: #f4f4f4;
	font-family: 'Ticket';
	margin-left: 10px;
}

#pHold {
	margin: 5px;
	text-align: right;
	color: #f4f4f4;
	margin-right: 10px;
}

#footTable {
	width: 100%;
}

#fanTitle {
	margin: 10px;
	color: #333c57;
	font-family: 'Ticket';
}

#controlTable {
	width: 100%;
	text-align: center;
	height: 60px;
	color: #333c57;
	font-family: 'Ticket';
}

